{% extends "layout" %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User</title>
  </head>

  <body>
  <div class="section">
    <div class="container">
      <div class="grid">
        <h1 class="users"> Users </h1>

        <div class="grid__item">
          {% for user in user %}
          <div class="grid__item-name"> {% if email %}
            {{ email }}
          {% endif %}
          </div>  {# //! TO DO: add first name and last name to form/controller // #}
          <div class="grid__item-user"> {% if username %}
            {{ username }}
          {% endif %}
          </div>
          <img src="http://fillmurray.com/g/200/300" alt="bill murray" />
          {% endfor %}

        </div>

      </div>
    </div>
  </div>


  </body>
</html>
{% endblock %}
